/*---------------------------------------------
    Start
----------------------------------------------*/
html,body{
    height: 100%;
    margin: 0;
    max-width: 100%;
    overflow: hidden;
}

/*---------------------------------------------
    NAVBAR
----------------------------------------------*/
#btn-nav{
    width: 90px;
    float: right;
    margin-right: 25px;
}

/*---------------------------------------------
    Footer
----------------------------------------------*/
.wrapper{
    min-height: 100%;
    margin-bottom: -50px;
}
#footer,
.push{
    height: 50px;
    font-size: 13px;
}

/*---------------------------------------------
    Login
----------------------------------------------*/
#btn-enter{
    width: 100px;
}

.icon-width{
    width: 40px;
}

#heart{
    position: absolute;
    top: 70%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
}

.side-label{
    width: 90px;
}

#no-data{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 22px;
}

/************************************
Custom sweet
************************************/
.swal-text{
    text-align: center;
}

.swal-icon--success:before,
.swal-icon--success:after,
.swal-icon--success__hide-corners{
    background: none !important;
}

.swal-icon--success{
    /*circle color */
    border-color: lightblue;
}

.swal-icon--success__line{
    background-color: lightblue;
}

.swal-button{
    padding: 7px 19px;
    border-radius: 5px;
    background-color: lightblue;
    font-size: 12px;
    border: 1px solid lightblue;
}

.swal-button:focus{
    box-shadow: none;
}

.swal-button:not(disabled):hover{
    background: transparent;
    color: #111;
    border: 1px solid lightblue;
}