{% extends 'base.html' %}


{% block title %} Список пациентов {% endblock title %}


{% block nav-content %}
    <i class="fas fa-user-edit"></i>&nbsp; &nbsp;Пациенты
{% endblock nav-content %}

{% block time %}
    <div class="col-sm" style="text-align: center">
        <div >
            <span id="clock" style="color: lightblue;"></span>
        </div >
    </div>
{% endblock time %}

{% block btn-nav %}
    <a href="{% url 'logout' %}" class="btn btn-outline-danger btn-sm border-light text-light"
       data-bs-toggle="modal" data-bs-target="#logoutModal" id="btn-nav">Выход</a>
{% endblock btn-nav %}

{% block footer %}style="color: lightblue; text-decoration: none;"{% endblock footer %}>

{% block content %}
    <div class="container">
        <br><br>
        <div class="d-flex justify-content-between">
            <a href="{% url 'add_patient' %}" class="btn btn-primary btn-sm">
                <i class="fas fa-plus"></i>&nbsp;&nbsp; Добавить пациента</a>
            <span>
            Добро пожаловать: <strong> <span class="text-primary">{{ user.get_username }}</span></strong>
        </span>
        </div>

        <form method="get">
               <div class="input-group input-group-sm mb-3 mt-4">
                <input name="q" type="text" class="form-control" placeholder="Найти..." value="{{ request.GET.q }}">
                <button  class="btn btn-secondary"><i class="fas fa-search"></i></button>
                <a href="{% url 'backend' %}" class="btn btn-dark" style="margin-left: 4px;">
                    <i class="fas fa-sync-alt"></i></a>
            </div>
        </form>

        <div style="margin-left: auto">
            <table class="table table-bordered table-sm" style="text-align: center; font-size: 14px;">
                <thead class="table-primary">
                <tr>
                    <th style="width: 21%">ФИО</th>
                    <th style="width: 15%">Телефон</th>
                    <th style="width: 21%">Email</th>
                    <th style="width: 8%">Возраст</th>
                    <th style="width: 7%">Пол</th>
                    <th style="width: 18%">Дата регистрации</th>
                    <th colspan="2" style="width: 10%">Действия</th>
                </tr>
                </thead>
                {% for patient in patients %}
                    <tr class="text-small" id="chk_td">
                        <td data-label="ФИО" id="top-table">{{ patient.name }}</td>
                        <td data-label="Телефон" id="responsive-border">{{ patient.phone }}</td>
                        <td data-label="Email" id="responsive-border">{{ patient.email }}</td>
                        <td data-label="Возраст" id="responsive-border">{{ patient.age }}</td>
                        <td data-label="Пол" id="responsive-border">{{ patient.gender }}</td>
                        <td data-label="Дата регистрации" id="responsive-border">{{ patient.created_at|date:"M d, Y (H:i)" }}</td>
                        <td>
                            <a class="btn btn-primary" href="/patient/{{ patient.id }}" title="Редактировать">
                                <i class="fas fa-pen"></i>
                            </a>
                        </td>
                        <td>
                            <button class="btn btn-secondary"
                                    title="Удалить"  data-bs-toggle="modal" data-bs-target="#deleteModal{{ patient.pk }}">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </td>
                    </tr>
                            <!-- Modal -->
                        <div class="modal fade" id="deleteModal{{ patient.pk }}" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                  <h1 class="modal-title fs-5" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Удаление карты</h1>
                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                              </div>
                              <div class="modal-body">
                                <div class="text-center text-danger"><i class="fas fa-times-circle fa-5x mb-4 mt-2"></i> </div>
                                <div class="text-center text-danger">
                                    <span>Вы хотите удалить данную карту???</span>
                                    <div class="text-dark mt-3 mb-2">Пациент:&nbsp <strong>{{ patient.name }}</strong></div>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                                <a type="button" class="btn btn-outline-danger btn-sm" href="/delete_patient/{{ patient.id }}">Удалить</a>
                              </div>
                            </div>
                          </div>
                        </div>


                {% endfor %}
            </table>


                <!-- Modal -->
                <div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteModalLabel"><i class="fas fa-trash-alt"></i>&nbsp;&nbsp;Удаление карты</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                        <div class="text-center text-danger"><i class="fas fa-times-circle fa-5x mb-4 mt-2"></i> </div>
                        <div class="text-center text-danger">
                            <span>Вы хотите удалить данную карту???</span>
                            <div class="text-dark mt-3 mb-2">Пациент:<strong>{{ patient.name }}</strong></div>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                        <button type="button" class="btn btn-outline-danger btn-sm">Удалить</button>
                      </div>
                    </div>
                  </div>
                </div>


            <!--Pagination-->

            <nav class="mt-4">
                {% if patients.has_other_pages %}

                    <ul class="pagination justify-content-left">
                        {% if patients.has_previous %}
                            <a href="?page=1" class="btn btn-outline-primary primary mb-4" style="width: 100px; border-radius: 1px; border: 1px solid #d3d3d3">Первая</a>
                            <li class="page-item"><a class="page-link" href="?page={{ patients.previous_page_number }}"><i class="fas fa-angle-double-left"></i></a></li>
                        {% else %}
                            <li class="page-item disabled"></li>
                        {% endif %}

                        {% for i in patients.paginator.page_range %}
                            {% if patients.number == i %}
                            <li class="page-item active"><span class="page-link">{{ i }}<span class="sr-only"></span> </span></li>
                            {% else %}
                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                            {% endif %}
                        {% endfor %}

                        {% if patients.has_next %}
                            <li class="page-item"><a class="page-link" href="?page={{ patients.next_page_number }}"><i class="fas fa-angle-double-right"></i></a></li>
                            <a href="?page={{ patients.paginator.num_pages }}" class="btn btn-outline-primary mb-4"
                               style="width: 100px; border-radius: 1px; border: 1px solid #d3d3d3; border-left: none">Последняя</a>
                            {% else %}
                            <li class="page-item disabled"></li>
                        {% endif %}
                    </ul>
                {% endif %}

            </nav>


        </div>


        {% for message in messages %}
            {% if message.tags == 'success' %}
                <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
                <script>
                    var m = "{{ message }}";
                    swal("Отлично!", m, "success")
                </script>
            {% endif %}
        {% endfor %}
    </div>

    <span class="text-danger" id="no-data"></span>

<br><br><br><br>
{% endblock content %}


